<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556167028499-7i4aj1e9tnm2f2ehqh111cnqo0e7b93d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556167028499-7i4aj1e9tnm2f2ehqh111cnqo0e7b93d</string>
	<key>API_KEY</key>
	<string>AIzaSyAozsyPr5RDAChFv3884chVbyLsBYEZTYk</string>
	<key>GCM_SENDER_ID</key>
	<string>556167028499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ZhingelStas.messegerSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>messenger-swiftui-d7a9c</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-swiftui-d7a9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556167028499:ios:d6208b4a0d065f7837c4e6</string>
</dict>
</plist>